* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
html, body {
   font-family: Arial, Helvetica, sans-serif;
}

.header {
   height: 500px;
   text-align: center;
   background: url("../image/image1.jpeg") no-repeat center center/cover;
   padding: 200px 20px;
   color: #fff;
}

